<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<title>login</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<div class="page-container">
    <header>
        <h1>Welcome to Sleep Tracker</h1>
        <a href="login.html" th:href="@{/}">
            <img class="logo" src="../public/images/SleepTracker_logo.png"
                 th:src="@{/images/SleepTracker_logo.png}" alt="Sleep Tracker Logo">
        </a>
        <br>
    </header>

    <main>

        <form class="generic-form" method="post">
            <input type="text" name="username" placeholder="Enter username"/>
            <input type="password" name="password" placeholder="Enter password"/>

            <button type="submit" formaction="/login">Start tracking your sleep</button>

            <div><p class="error" th:unless="${#strings.isEmpty(message)}" th:text="${message}"></p></div>
        </form>
    </main>

    <footer class>
        <div>
            <a th:if="${session.currentUser != null}" href="login.html" th:href="@{/logout}" class="text-silver"> Log out </a>
            <span th:if="${session.currentUser != null}"> |  </span>
            <a href="createuser.html" th:href="@{/createuser}" class="text-silver">Create user </a>
        </div>
    </footer>

</div>
</body>
</html>
